.container {
	padding: 20px;
	border: 1px solid #eee;
	border-radius: 5px;
	background-color: #f9f9f9;
}

.heading {
	margin-bottom: 20px;
	color: #333;
}

.colorPickerContainer {
	margin-top: 10px;
	display: flex;
	align-items: center;
}

.label {
	margin-right: 10px;
	font-weight: bold;
	color: #555;
	width: 150px; /* Adjust width as needed */
	display: inline-block;
}

.colorButton {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}

.pickerContainer {
	position: absolute;
	z-index: 10;
	margin-left: 10px; /* Adjust position if needed */
}

.saveButton {
	margin-top: 20px;
	padding: 10px 20px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
}

.saveButton:hover {
	background-color: #0056b3;
}
