.test-container {
	line-height: 1.5;
	font-size: 1.8rem;
	height: 4.6lh;
	width: clamp(50vw, 60ch, 1000px);
	position: relative;
	align-self: stretch;
}
.testBg {
	border-radius: 1rem;
	padding: 0.5lh 0.7lh;
	display: flex;
	flex-direction: column;
	align-items: start;
	overflow: hidden;
	max-height: 4.6lh;
	box-shadow: -2px -2px 0.2rem rgba(255, 255, 255, 0.1),
		2px 2px 0.2rem rgba(0, 0, 0, 0.1);
	transition: background var(--transition-fast);
}

.testWindow {
	overflow: hidden;
	position: relative;
	transition: opacity var(--transition-mid) ease,
		filter var(--transition-mid) ease;
	opacity: 0;
}

.appear {
	animation: appear var(--transition-mid) ease forwards;
}

.test-container .overlay {
	color: var(--primary-300);
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1ch;
	align-items: center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	font-size: 1.2rem;
	visibility: visible;
	opacity: 1;
	transition: opacity var(--transition-fast) ease;
}

.test-container:focus .overlay {
	opacity: 0;
	visibility: hidden;
}
.test-container .testWindow {
	filter: opacity(0.5) blur(4px);
}
.test-container:focus .testWindow {
	opacity: 1;
	filter: none;
}
.test-container:focus {
	outline: none;
}
.test-container:focus .testBg {
	background-color: var(--bg-secondary);
}
@keyframes appear {
	0% {
		opacity: 0;
		translate: 0 100px;
	}
	100% {
		opacity: 1;
		translate: 0 0;
	}
}

.testText {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	position: relative;
	transition: transform var(--transition-fast) ease;
	column-gap: 1ch;
}

.cursor {
	color: var(--primary-color);
	background-color: currentColor;
	position: absolute;
	border-radius: 1rem;
	transition: transform var(--transition-fast) ease-out;
}
.cursor.underline {
	height: 2px;
	width: 1ch;
	translate: 0 1lh;
}
.cursor.bar {
	height: 0.9lh;
	width: 0.2rem;
}
.cursor.block {
	border-radius: 0;
	height: 0.9lh;
	width: 0.95ch;
	background: var(--primary-200) !important;
	z-index: -1;
}
.testText:has(.cursor.block) .current {
	color: var(--primary-color);
}
.blink {
	animation: 1.5s linear 3s infinite alternate blink;
}
@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.word {
	display: flex;
	flex-direction: column;
}
.word span {
	display: flex;
}
.letter {
	display: inline-block;
	min-height: 1.2lh;
}
.space {
	min-width: 1ch;
}
.typed {
	font-size: 0.8rem;
	position: absolute;
}
.valid {
	color: var(--text-color);
}
.invalid {
	color: var(--warn);
}
.unprocessed,
.current {
	color: var(--text-unprocessed);
}
