.test-container {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	font-size: 1.8rem; /*should be controlled by settings*/
	height: 4.8lh; /*each line is 1.2 * 4 = 4.8*/
}
.testWindow {
	overflow: hidden;
	position: relative;
	transition: opacity 300ms ease;
	opacity: 0;
}
.testWindow.in {
	opacity: 1;
}
.testWindow.out {
	opacity: 0;
}
.testText {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	position: relative;
	transition: translate 200ms ease 200ms;
	column-gap: 1ch;
}

.cursor {
	background-color: #2dff57;
	position: absolute;
	height: 1.1lh;
	width: 3px;

	transition: transform 150ms ease-out;
}
.word {
	display: flex;
	flex-direction: column;
}
.word span {
	display: flex;
}
.letter {
	display: inline-block;
	min-height: 1.2lh;
}
.space {
	min-width: 1ch;
}
.typed {
	font-size: 0.8rem;
	position: absolute;
}
.valid {
	color: whitesmoke;
}
.invalid {
	color: rgb(192, 0, 0);
}
.unprocessed,
.current {
	color: rgba(182, 182, 182, 0.479);
}
