.testWindow {
	font-size: 1.6rem;
	max-height: calc(4.8lh);
	overflow: hidden;
	border: 2px solid rgb(236, 175, 32);
	position: relative;
	margin-inline: 1rem;
}
.testText {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	position: relative;
	transition: translate 200ms 200ms ease;
	column-gap: 1ch;
}
.current {
	color: cadetblue;
}
.cursor {
	background-color: #2dff57;
	position: absolute;
	height: 1.1lh;
	width: 3px;

	transition: all 200ms;
}
.word {
	display: flex;
	flex-direction: column;
	height: 1.2lh;
	/* border: 1px solid red; */
}
.word span {
	display: flex;
}
.letter {
	display: inline-block;
	min-height: 1.2lh;
}
.space {
	min-width: 1ch;
}
.typed {
	font-size: 0.8rem;
	position: absolute;
}
.valid {
	color: whitesmoke;
}
.invalid {
	color: rgb(255, 9, 9);
}
.unprocessed {
	color: rgba(182, 182, 182, 0.479);
}
