@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
.key {
	background-color: rgba(100, 100, 100, 0.1);
	color: rgba(255, 255, 255, 0.571);
	/* border: 0.5px solid rgba(83, 83, 83, 0.5); */
	display: flex;
	justify-content: center;
	align-items: center;
	aspect-ratio: 1/1;
	width: clamp(2em, 4vw, 3em);
	border-radius: 0.8em;
	font-family: "Roboto Mono";
	/* text-transform: uppercase; */
	transition: background-color cubic-bezier(0.25, 0.1, 0.25, 1);
	box-shadow: inset -2px -2px 10px #252525, inset 2px 2px 10px #333333;
}

.keyboard {
	border-radius: 0.5em;
	width: clamp(600px, 70vw, 750px);

	margin-block: 2rem;
	border: rgba(102, 242, 158, 0.5) 2px solid;
	background-color: hsla(0, 0, 50, 1);
	padding: 1.5rem 1rem 1rem 1rem;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-around;
	gap: 0.75rem;
}
.keyboard.shifted {
	text-transform: uppercase;
}
.row {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.row-2 {
	margin-inline: 1.2vw;
}
.row-3 {
	margin-inline: 3vw;
}

.row-4 {
	margin-inline: 4vw;
}
.row-4 > * {
	height: 2.5rem;
	width: auto;
	aspect-ratio: 5/1;
	letter-spacing: 3px;
	color: rgba(255, 255, 255, 0.3);
	text-transform: lowercase;
}
.main {
	display: grid;
	place-content: center;
	place-items: center;
}
span.pending {
	opacity: 0.3;
}
span.current {
	opacity: 0.6;
}
span.done {
	opacity: 1;
}
.text-window {
	width: clamp(600px, 70vw, 800px);
	overflow: clip;
	position: relative;
	font-size: 1.8em;
	height: calc(3 * 1.8em);
}
.textView {
	width: 100%;
	/* border: 1px solid rgb(38, 255, 136); */
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-around;
}
.word {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 1.8em;
}
.letter {
	color: rgb(255, 255, 255);
	letter-spacing: 0.1em;
	min-width: 2px;
	min-height: 1.8em;
	/* border: 1px solid red; */
}
.cursor {
	position: absolute;
	width: 0.1em;
	height: 1.2em;
	color: rgb(65, 255, 144);
	background-color: currentColor;
	top: 0.2em;
	left: 0;
	transition: all 100ms ease;
	translate: -0.08em 0.1em;
}
.blink {
	animation: blink 1000ms ease-in infinite;
	animation-delay: 2s;
}
@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
