@import url("https://fonts.googleapis.com/css2?family=Oxygen+Mono&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
.inputText {
	visibility: none;
	opacity: 0;
}
.main {
	display: grid;
	place-content: center;
	place-items: center;
	font-family: "Oxygen Mono";
	-webkit-user-select: none;
	user-select: none;
}
