.text-window {
	width: clamp(600px, 90vw, 1000px);
	overflow: clip;
	position: relative;
	font-size: 1.8em;
	height: calc(3 * 1.6em);
	/* border: 1px solid gold; */
	padding: 0;
	margin-bottom: 1rem;
	display: flex;
	align-items: flex-start;
}
.textView {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: flex-start;
	position: relative;
	font-size: inherit;
	padding: 0;
	/* border: 1px solid turquoise; */
}
.word {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-size: inherit;
	height: 1.6em;
	/* border: 0.2px solid springgreen; */
}
.letter {
	color: rgb(255, 255, 255);
	letter-spacing: auto;
	line-height: 100%;
	min-height: 1lh;
}
.letter.space {
	min-width: 1ch;
}

.letter.pending {
	opacity: 0.3;
}
.letter.current {
	opacity: 0.7;
}
.letter.done {
	opacity: 1;
}
.letter.wrong {
	color: rgb(255, 119, 119);
}
.letter.space.wrong {
	background-color: hsla(0, 100%, 79%, 0.9);
}
.cursor {
	position: absolute;
	width: 0.1em;
	height: 1.2em;
	color: rgb(65, 255, 144);
	background-color: currentColor;
	top: -0.1em;
	left: 0;
	transition: translate 200ms ease;
}
.blink {
	animation: blink 1200ms ease-in infinite;
	animation-delay: 3s;
}
@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
