.key {
	--key-bg-active: var(--primary-500);
	--key-bg-inactive: color-mix(
		in srgb,
		var(--primary-foreground) 2%,
		var(--primary-background)
	);
	--key-shadow-active: 0 0 1rem
		color-mix(in srgb, var(--primary-500) 40%, transparent);
	--key-shadow-inactive: 1px 1px 0.1rem
			color-mix(in srgb, var(--shadow-lg) 10%, transparent),
		-1px -1px 0.1rem
			color-mix(in srgb, var(--primary-foreground) 5%, transparent);

	background-color: var(--key-bg-inactive);
	color: var(--text-processed);
	border: none;
	box-shadow: var(--key-shadow-inactive);
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 2lh;
	min-height: 2lh;
	padding: 0.8ch 1.6ch;
	border-radius: 0.8em;
	transition: all var(--transition-fast);
	font-size: 0.8rem;
}

.key:hover {
	background-color: color-mix(
		in srgb,
		var(--primary-500) 5%,
		var(--key-bg-inactive)
	);
	color: var(--primary-500);
	box-shadow: 2px 2px 0.2rem
			color-mix(in srgb, var(--shadow-lg) 15%, transparent),
		-2px -2px 0.2rem
			color-mix(in srgb, var(--primary-foreground) 8%, transparent);
}

.key.active {
	background-color: color-mix(
		in srgb,
		var(--primary-500) 10%,
		var(--key-bg-inactive)
	);
	color: var(--primary-500);
	box-shadow: var(--key-shadow-active);
}

.keyboard {
	border-radius: 1rem;
	border: none;
	background-color: color-mix(
		in srgb,
		var(--primary-foreground) 1.5%,
		var(--primary-background)
	);
	padding: 2ch;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-around;
	box-shadow: -1px -1px 0.1rem rgba(255, 255, 255, 0.1),
		1px 1px 0.1rem rgba(0, 0, 0, 0.1);
	gap: 1.2ch;
}

.keyboard.shifted {
	text-transform: uppercase;
}

.row {
	display: grid;
	align-items: center;
	justify-content: center;
	gap: 1.2ch;
	grid-auto-flow: column;
}

.row-4 {
	grid-template-columns: auto 0.4fr auto;
}

.row-4 > * {
	min-height: 1.8lh;
}
