:where(*) {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow: hidden;
	background-color: var(--primary-background);

	position: relative;
}

.app {
	min-height: 100vh;
	min-width: 100vw;
}
header {
	font-size: 1.6rem;
	padding: 1rem 3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header div {
	display: flex;
	font-size: inherit;
	align-items: center;
	gap: 1ch;
	margin-right: 2rem;
}
header .logo h1 {
	font-size: 1.8rem;
	letter-spacing: 0.1ch;
	font-weight: bold;
	background-image: linear-gradient(
		45deg,
		var(--tint-20),
		var(--text-color-subtle)
	);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	display: inline-block; /* To contain the text size */
}
header nav {
	display: flex;
	gap: 1rem;
	color: var(--tint-30);
	/* border: 1px solid red; */
}
