:where(*) {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--primary-background);
	position: relative;
}

.app {
	min-height: 100vh;
	min-width: 100vw;
	height: auto;
}

.header {
	position: sticky;
	top: 0;
	left: 0;
	background-color: color-mix(
		in srgb,
		var(--primary-background) 70%,
		transparent
	);
	backdrop-filter: blur(4px);
	z-index: 10;
}

header {
	font-size: 1.6rem;
	padding: 2rem 4rem;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

header > div {
	display: flex;
	align-items: flex-end;
	gap: 3rem;
}

header .logo,
header nav a {
	display: flex;
	align-items: flex-end;
	gap: 1rem;
}
header .logo:hover {
	color: var(--primary-500);
}

header .logo h1 {
	font-size: 1.8rem;
	line-height: 1;
	letter-spacing: 0.1ch;
	font-weight: bold;
	background-image: linear-gradient(
		45deg,
		var(--text-muted),
		var(--text-primary)
	);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	display: inline-block;
}

header nav {
	display: flex;
	align-items: baseline;
	gap: 1.5rem;
	color: var(--text-tertiary);
	font-size: 1.4rem;
	transition: color var(--transition-fast);
	vertical-align: bottom;
}

header nav:hover {
	color: var(--primary-500);
}
a {
	text-decoration: none;
}
.project-info {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	font-size: 0.8rem;
	color: var(--text-unprocessed);
	align-items: center;
}

.project-info a:hover {
	color: var(--primary-500);
	text-decoration: underline;
}

.project-info a {
	cursor: pointer;
	color: var(--text-muted);
}
