@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Orbitron:wght@400..900&family=VT323&display=swap");
:where(*) {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	overflow: hidden;
	background-color: #000000ba;
	background-image: url("https://images.unsplash.com/photo-1536152470836-b943b246224c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1476&q=80");
	background-blend-mode: overlay;
	background-size: 100%;
	background-position: center;
	font-family: "IBM Plex Mono";
}
#root {
	margin: auto;
}
@media only screen and (max-width: 600px) {
	body {
		background-size: auto;
		background-position: right;
	}
}

.starfall {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	z-index: 0;
	pointer-events: none;
}

.app {
	min-height: 100vh;
	min-width: 100vw;
}
header {
	padding: 0.5rem 1rem;

	display: flex;
	justify-content: space-between;
	align-items: center;
}
header .logo {
	display: flex;
	font-size: 1.5rem;
	align-items: center;
	gap: 1ch;
}
header nav {
	display: flex;
	gap: 1rem;
	font-size: 1.5rem;
	color: rgba(255, 255, 255, 0.674);
	/* border: 1px solid red; */
}

h1 {
	font-family: "VT323";
	font-size: 2.7rem;
}
